<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>_447___HTML_Test</title>
    <link href="{{ url_for('static', filename='content/styleSheet.css') }}" rel="stylesheet" />

    <style>
        .columnHeader {
            font-family: "Arial, Helvetica, sans-serif";
        }

        .data {
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="navbar">
        <a href="/incidentPanel">Incident Panel</a>
        <a class="active" href="/deploymentPanel">Mission Panel</a>
        <a href="/callCenter">Report an Incident</a>
        <a style="float:right" href="/logout">Logout</a>
    </div>

    <h1 style="text-align: center;">Deployment Panel</h1>
    <br />

    <br /><br />
          <form name="event" action="/deploymentPanel" method="post">
              <table id="tbl_Mission" style="width: 85%; margin: 0px auto 50px auto; border: 1px solid #000000;">
                  <thead>
                      <tr>
                          <th>Mission ID</th>
                          <th>Incident IDs</th>
                          <th>Assignment</th>
                          <th>Status</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      {% block table %}{% endblock %}
                  </tbody>
              </table>
           </form>

</body>
</html>