<html>
    <body>
        <form name="event" action="/incidentPanel" method="post">
            ID: <input type="hidden" id="id" name="id" value="{{id}}" />
            Emergency: <input type="text" id="emergency" name="emergency" value="{{emergency}}" /><br />
            Address: <input type="text" id="address" name="address" value="{{address}}" /><br />
            Phone: <input type="text" id="phone" name="phone" value="{{phone}}" /><br />
            Urgency: <input type="text" id="urgency" name="urgency" value="{{urgency}}" /><br />
            <button type="submit" name="edit" value="edited">Edit</button>
        </form>
    </body>
</html>