<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>_447___HTML_Test</title>
    <link href="css/default.css" rel="stylesheet" />

    <style>
        .columnHeader {
            font-family: "Arial, Helvetica, sans-serif";
        }
        .data {
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="navbar">
        <a class="active" href="#home">Incident Panel</a>
        <a href="#news">Mission Panel</a>
        <a href="#contact">Report an Incident</a>
    </div>

    <h1 style="text-align: center;">Incident Panel</h1>
    <br />

    <table style="width: 85%; margin: 0px auto 50px auto; border: 1px solid #000000;">
        <thead style="border: 1px solid #000000;">
            <tr style="border: 1px solid #000000;">
                <th class="columnHeader" style="width: 60px;">Timestamp</th>
                <th class="columnHeader" style="width: 60px;">Type</th>
                <th class="columnHeader" style="width: 100px;">Address</th>
                <th class="columnHeader" style="width: 100px;">Phone Number</th>
                <th class="columnHeader" style="width: 70px;">Urgency</th>
            </tr>
        </thead>
        <tbody>
            <tr class="data">
                <td>08:24 PM 12/21/2019</td>
                <td>Medical</td>
                <td>1000 Hilltop Circle</td>
                <td>123-456-7890</td>
                <td>5</td>
            </tr>
            <tr class="data">
                <td>08:24 PM 12/21/2019</td>
                <td>Medical</td>
                <td>1000 Hilltop Circle</td>
                <td>123-456-7890</td>
                <td>5</td>
            </tr>
            <tr class="data">
                <td>08:24 PM 12/21/2019</td>
                <td>Medical</td>
                <td>1000 Hilltop Circle</td>
                <td>123-456-7890</td>
                <td>5</td>
            </tr>
            <tr class="data">
                <td>08:24 PM 12/21/2019</td>
                <td>Medical</td>
                <td>1000 Hilltop Circle</td>
                <td>123-456-7890</td>
                <td>5</td>
            </tr>
            <tr class="data">
                <td>08:24 PM 12/21/2019</td>
                <td>Medical</td>
                <td>1000 Hilltop Circle</td>
                <td>123-456-7890</td>
                <td>5</td>
            </tr>
        </tbody>
    </table>

    <div class="buttonStyle">
        <a href="#newmission">Create a new Mission</a>
    </div>

</body>
</html>