<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='content/loginpcss.css') }}" />

<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input name="usernameReg" type="text" placeholder="Username"/>
      <input name ="IDReg "type="text" placeholder="Unique ID"/>
      <input name ="passwordReg" type="text" placeholder="Enter Password"/>
      <input type="submit"></input>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form method="POST" action="/login" class="login-form">
      <input name="username" type="text" placeholder="Username"/>
      <input name="password" type="text" placeholder="Password"/>
      <input type="submit"></input>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>



<script>
$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>
