<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<link rel = "stylesheet" type = "text/css" href = "loginpcss.css" />

<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="Name"/>
      <input type="text" placeholder="Unique ID"/>
      <input type="text" placeholder="Email Address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="Unique ID"/>
      <input type="password" placeholder="Name"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>



<script>
$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>
