<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Call Center</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content/styleSheet.css') }}" />

    <style>

        .columnHeader {
            font-family: "Arial, Helvetica, sans-serif";
        }

        .data {
            text-align: center;
        }

        .left {
            float: left;
            margin-left: 500px;
        }

        .right {
            float: right;
        }

        .push {
            padding-right: 175px;
        }
    </style>

</head>
<body>





    <h1>Your mission:</h1>        
 


            
            
         
    

</body>
</html>
