<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Call Center</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content/styleSheet.css') }}" />

    <style>

        .columnHeader {
            font-family: "Arial, Helvetica, sans-serif";
        }

        .data {
            text-align: center;
        }

        .left {
            float: left;
            margin-left: 500px;
        }

        .right {
            float: right;
        }

        .push {
            padding-right: 175px;
        }
    </style>

</head>
<body>



    <form name="event" action="volunteer" method="post">


        <div align="center">



            <div class="left">
                <input type="text" placeholder="Name" name="vName" pattern="[A-Za-z]+" required />
                <input type="text" name="phoneNumber" placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />

                <br /><br />
                <input type="text" placeholder="Address" name="address" required />

                <input type="text" placeholder="City" name="city" pattern="[A-Za-z]+" required<br />
                <br /><br />
                <input type="text" placeholder="State" name="state" pattern="[A-Za-z]{2}" required<br />

                <input type="text" placeholder="ZipCode" name="zipCode" pattern="[0-9]{5}" required<br />
                <br /><br /><br />

                <div class="push">
                    <input type="text" placeholder="Service" name="emergency" required<br />
                </div><br /><br />

                <br /><br />

                <br /><br />

                <input type="submit" value=" submit" />
            </div>
        </div></div>
    </form>

</body>
</html>
